@model BusBookingSystem.WebApp.ViewModels.BusDetailsViewModel

@using (Html.BeginForm("AddBusDetails", "Bus", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="row-fluid" style="margin-top:8%">
        @Html.Label("Enter Bus Registration Number")
        @Html.TextBoxFor(m => m.BusNumber)<br />
        @Html.Label("Enter number of seated chairs")
        @Html.TextBoxFor(m => m.NumOfChairSeats)<br />
        @Html.Label("Enter number of Sleeper seats")
        @Html.TextBoxFor(m => m.NumOfSleeperSeats)<br />
        @Html.DropDownListFor(m => m.CompanyId, new SelectList(Model.BusCompanyNames, "Id", "Name",Model.CompanyId), "Select Company")<br />
        @Html.DropDownListFor(m => m.OrginLocation, new SelectList(Model.OriginLocations, "Name", "Name"), "Select Origin Location")<br />
        @Html.DropDownListFor(m => m.DestinationLocation, new SelectList(Model.DestinationLocations, "Name", "Name"), "Select Destination Location")<br />
        @Html.DropDownListFor(m => m.BusTypeId, new SelectList(Model.BusTypes, "Id", "Type"), "Select Bus Type")<br />



        <input type="submit" class="btn btn-primary" value="Add Bus" id="btnAdd" style="display:block" /><br /><br />
        <input type="submit" class="btn btn-primary" value="Save Changes" id="btnSaveChanges" style="display:none" /><br /><br />
    </div>
    <table border="1">
        <tr>
            <th>Company Name</th>
            <th>Bus Type</th>

            <th>Origin</th>
            <th>Destination</th>
            <th>Chair Seats</th>
            <th>Sleeper Seats</th>
            <th>Bus Number</th>
            <th>Edit Details</th>

        </tr>
        @foreach (var item in Model.BusDetails)
        {

        <tr style="text-align:center">
            <td>
                @Html.Label(item.BusCompanyName.Name)
            </td>
            <td>
                @Html.Label(item.BusType.Type)
            </td>
            <td>
                @Html.Label(item.OriginLocation)
            </td>
            <td>
                @Html.Label(item.DestinationLocation)
            </td>
            <td>
                @Html.Label(item.NumOfChairSeats.ToString())
            </td>
            <td>
                @Html.Label(item.NumOfSleeperSeats.ToString())
            </td>
            <td>
                @Html.Label(item.BusNumber.ToString())
            </td>
            <td>
                <div id="Edit">
                    @Html.ActionLink("Edit", "EditBusDetails", new { Id = @item.Id })
                </div>
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteBusDetails", new { Id = @item.Id })
            </td>
        </tr>

        }
    </table>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    @*<script>
        $("#btnSaveChanges").click(function () {
            $("#btnSaveChanges").hide()
            $("#btnAdd").show()
        });
        $("#Edit").click(function () {
            $("#btnSaveChanges").show()
            $("#btnAdd").hide()
        });
    </script>*@


}



