@model BusBookingSystem.WebApp.ViewModels.BusDetailsViewModel


@using (Html.BeginForm("GetBuses", "BusAvailability", FormMethod.Post))
{ <div>
        @Html.HiddenFor(m => m.Role)
        <div>
            @Html.Label("Bus Route")<br />
            <table>
                <tr>
                    <td>@Html.Label("From:")</td>
                    <td>
                        @Html.DropDownListFor(m => m.OriginLocation, new SelectList(Model.OriginLocations, "Name", "Name"), "----Select----")<br />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("To:")
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.DestinationLocation, new SelectList(Model.DestinationLocations, "Name", "Name"), "----Select----")<br />
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Label("Bus Type:")
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.BusTypeId, new SelectList(Model.BusTypes, "Id", "Type"), "----Select----")<br />
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("Date of Travel:")</td>
                    <td>@Html.EditorFor(m => m.DateOfJourney)</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Find Buses" class="btn btn-success " />
                    </td>

                </tr>

            </table>



        </div><br /><br />
    </div>
    if (Model.BusDetails != null)
    {
        <table class="table table-striped" border="1">
            <tr>
                <th>Company Name</th>
                <th>Bus Type</th>

                <th>Origin</th>
                <th>Destination</th>
                <th>Chair Seats</th>
                <th>Sleeper Seats</th>
                <th>Bus Number</th>
                <th>Status</th>
                <th style="@(Model.Role == "User" ? "display : none" : "")">Change Status</th>
            </tr>

            @foreach (var item in Model.BusDetails)
            {

                <tr style="text-align:center">
                    <td>
                        @Html.Label(item.BusCompanyName.Name)
                    </td>
                    <td>
                        @Html.Label(item.BusType.Type)
                    </td>
                    <td>
                        @Html.Label(item.OriginLocation)
                    </td>
                    <td>
                        @Html.Label(item.DestinationLocation)
                    </td>
                    <td>
                        @Html.Label(item.NumOfChairSeats.ToString())
                    </td>
                    <td>
                        @Html.Label(item.NumOfSleeperSeats.ToString())
                    </td>
                    <td>
                        @Html.Label(item.BusNumber.ToString())
                    </td>
                    <td>
                        <input type="button" value="Check Status" class="btn-primary" onclick="location.href='@Url.Action("CheckAvailability","BusAvailability",new { DateOfJourney= Model.DateOfJourney, Id=@item.Id})'" />

                    </td>
                    <td style="@((string)Session["Role"] == "User" ? "display : none" : "")">
                        <input type="button" value="Add/Edit" class="btn-primary" onclick="location.href='@Url.Action("AddAvailability","BusAvailability",new { Id= @item.Id})'" />
                    </td>
                </tr>

            }
        </table>
    }

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });


    </script>

}





