@model BusBookingSystem.WebApp.ViewModels.BusDetailsViewModel

@using (Html.BeginForm("AddBusDetails", "Bus", FormMethod.Post,new { @style= "padding-top:15px" }))
{
    <div  style="background-color:beige;padding-top:20px;padding-left:30px">
        @Html.HiddenFor(m => m.Id)
        <div class="form-inline row">
            <div class="form-inline row col-sm-4 ">

                @Html.Label("Bus Registration Number", new { @class = "col-sm-12 " })

                @Html.TextBoxFor(m => m.BusNumber, new { @class = "form-control col-sm-12",@style= "padding:6px 16px" })

                @Html.ValidationMessageFor(m => m.BusNumber, "", new { @class = "text-danger" })

            </div>


            <div class="form-inline row col-sm-4">

                @Html.Label("Number of seated chairs", new { @class = "col-sm-12 " })


                @Html.TextBoxFor(m => m.NumOfChairSeats, new { @class = "form-control col-sm-12", @style = "padding:6px 16px" })
                @Html.ValidationMessageFor(m => m.NumOfChairSeats, "", new { @class = "text-danger" })



            </div>


            <div class="form-inline row col-sm-4">
                @Html.Label(" Number of Sleeper seats", new { @class = "col-sm-12 " })


                @Html.TextBoxFor(m => m.NumOfSleeperSeats, new { @class = "form-control col-sm-12", @style = "padding:6px 16px" })
                @Html.ValidationMessageFor(m => m.NumOfSleeperSeats, "", new { @class = "text-danger" })



            </div>
        </div>

        <div class="form-inline row" style="padding-top:15px">
            <div class="form-inline row col-sm-4">
                @Html.Label("Company Name", new { @class = "col-sm-12 " })
                @Html.DropDownListFor(m => m.CompanyId, new SelectList(Model.BusCompanyNames, "Id", "Name", Model.CompanyId), "--------Select--------", new { @class = "dropdown-header col-sm-7",@style="padding:7px;border-radius:5px" })
                @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger" })
            </div>




            <div class="form-inline row col-sm-4">
                @Html.Label("Origin Location", new { @class = "col-sm-12 " })
                @Html.DropDownListFor(m => m.OriginLocation, new SelectList(Model.OriginLocations, "Name", "Name"), "--------Select--------", new { @class = "dropdown-header col-sm-7", @style = "padding:7px;border-radius:5px" })
                @Html.ValidationMessageFor(m => m.OriginLocation, "", new { @class = "text-danger" })
            </div>


            <div class="form-inline row col-sm-4">
                @Html.Label("Destination Location", new { @class = "col-sm-12" })
                @Html.DropDownListFor(m => m.DestinationLocation, new SelectList(Model.DestinationLocations, "Name", "Name"), "--------Select--------", new { @class = "dropdown-header col-sm-7", @style = "padding:7px;border-radius:5px" })
                @Html.ValidationMessageFor(m => m.DestinationLocation, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-inline row" style="padding-top:15px">
            <div class="form-inline row col-sm-4">
                @Html.Label("Bus Type", new { @class = "col-sm-12" })
                @Html.DropDownListFor(m => m.BusTypeId, new SelectList(Model.BusTypes, "Id", "Type"), "--------Select--------", new { @class = "dropdown-header col-sm-7", @style = "padding:7px;border-radius:5px" })
                @Html.ValidationMessageFor(m => m.BusTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-inline col-sm-offset-8" style="padding-bottom:16px">
            <input type="submit" class="btn btn-primary btn-lg" value="Add Bus" id="btnAdd" style="display:block; margin-top:10px" />

        </div>
       
        

    </div>

    <br /><br />
    <table class="table table-striped table-hover" border="1" style="text-align:center">
        <tr>
            <th>Company Name</th>
            <th>Bus Type</th>

            <th>Origin</th>
            <th>Destination</th>
            <th>Chair Seats</th>
            <th>Sleeper Seats</th>
            <th>Bus Number</th>
            <th>Edit Details</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model.AvailabilityDetails)
        {

            <tr style="text-align:center">
                <td>
                    @Html.Label(item.BusDetails.BusCompanyName.Name)
                </td>
                <td>
                    @Html.Label(item.BusDetails.BusType.Type)
                </td>
                <td>
                    @Html.Label(item.OriginLocation)
                </td>
                <td>
                    @Html.Label(item.DestinationLocation)
                </td>
                <td>
                    @Html.Label(item.BusDetails.NumOfChairSeats.ToString())
                </td>
                <td>
                    @Html.Label(item.BusDetails.NumOfSleeperSeats.ToString())
                </td>
                <td>
                    @Html.Label(item.BusDetails.BusNumber.ToString())
                </td>
                <td>
                    <div id="Edit">
                        @Html.ActionLink("Edit", "EditBusDetails", new { Id = @item.BusDetailsId })
                    </div>
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteBusDetails", new { Id = @item.BusDetailsId })
                </td>
            </tr>

        }
    </table>





}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
@*<script>
        $("#btnSaveChanges").click(function () {
            $("#btnSaveChanges").hide()
            $("#btnAdd").show()
        });
        $("#Edit").click(function () {
            $("#btnSaveChanges").show()
            $("#btnAdd").hide()
        });
    </script>*@