@model BusBookingSystem.Domain.Models.AvailabilityDetails

<table  class="jumbotron">
    <tr>
        <td>
            <p>Bus Number:</p>
        </td>
        <td>@Html.DisplayFor(m =>m.BusDetails.BusNumber )</td>
    </tr>
    <tr>
        <td><p>From:</p></td>
        <td>@Html.DisplayFor(m => m.OriginLocation)</td>
    </tr>
    <tr>
        <td>To:</td>
        <td>@Html.DisplayFor(m => m.DestinationLocation)</td>
    </tr>
    <tr>
        <td>Status:</td>
        <td>@ViewBag.Status</td>
    </tr>
    <tr style="text-align:center">
        <td colspan="2"><input type="button" value="back" class="btn-primary" onclick="location.href='@Url.Action("Availability","BusAvailability",new { role=(string)Session["Role"] })'" />
</td>
    </tr>
</table>

